-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: cicj_shcms
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attendance_log`
--

DROP TABLE IF EXISTS `attendance_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendance_log` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `action` varchar(191) NOT NULL,
  `timestamp` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `location_lat` decimal(9,6) DEFAULT NULL,
  `location_lng` decimal(9,6) DEFAULT NULL,
  `photo` text DEFAULT NULL,
  PRIMARY KEY (`log_id`),
  KEY `Attendance_Log_user_id_fkey` (`user_id`),
  CONSTRAINT `Attendance_Log_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_log`
--

LOCK TABLES `attendance_log` WRITE;
/*!40000 ALTER TABLE `attendance_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client_inquiry`
--

DROP TABLE IF EXISTS `client_inquiry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `client_inquiry` (
  `inquiry_id` int(11) NOT NULL AUTO_INCREMENT,
  `client_name` varchar(191) NOT NULL,
  `client_email` varchar(191) NOT NULL,
  `contact_number` varchar(191) DEFAULT NULL,
  `message_body` text NOT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'Pending',
  `handled_by` int(11) DEFAULT NULL,
  `submitted_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`inquiry_id`),
  KEY `Client_Inquiry_handled_by_fkey` (`handled_by`),
  CONSTRAINT `Client_Inquiry_handled_by_fkey` FOREIGN KEY (`handled_by`) REFERENCES `user` (`user_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client_inquiry`
--

LOCK TABLES `client_inquiry` WRITE;
/*!40000 ALTER TABLE `client_inquiry` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_inquiry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `construction_site`
--

DROP TABLE IF EXISTS `construction_site`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `construction_site` (
  `site_id` int(11) NOT NULL AUTO_INCREMENT,
  `site_name` varchar(191) NOT NULL,
  `site_address` varchar(191) DEFAULT NULL,
  `center_lat` decimal(9,6) NOT NULL,
  `center_lng` decimal(9,6) NOT NULL,
  `geo_fence_radius_meters` int(11) NOT NULL DEFAULT 100,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`site_id`),
  KEY `Construction_Site_is_active_idx` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `construction_site`
--

LOCK TABLES `construction_site` WRITE;
/*!40000 ALTER TABLE `construction_site` DISABLE KEYS */;
INSERT INTO `construction_site` VALUES (2,'Cuangco Site','4674 Cuangco St., Pio del Pilar, Makati City',14.549507,121.010215,100,1,'2026-03-11 15:35:23.080','2026-03-11 15:35:23.080');
/*!40000 ALTER TABLE `construction_site` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment_checkout`
--

DROP TABLE IF EXISTS `equipment_checkout`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `equipment_checkout` (
  `checkout_id` int(11) NOT NULL AUTO_INCREMENT,
  `equipment_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `checkout_date` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `return_date` datetime(3) DEFAULT NULL,
  `location_lat` decimal(9,6) DEFAULT NULL,
  `location_lng` decimal(9,6) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'Checked Out',
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`checkout_id`),
  KEY `Equipment_Checkout_equipment_id_fkey` (`equipment_id`),
  KEY `Equipment_Checkout_user_id_fkey` (`user_id`),
  CONSTRAINT `Equipment_Checkout_equipment_id_fkey` FOREIGN KEY (`equipment_id`) REFERENCES `equipment_inventory` (`equipment_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Equipment_Checkout_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment_checkout`
--

LOCK TABLES `equipment_checkout` WRITE;
/*!40000 ALTER TABLE `equipment_checkout` DISABLE KEYS */;
INSERT INTO `equipment_checkout` VALUES (1,3,3,'2026-03-12 11:12:27.991','2026-03-12 12:26:50.972',14.549617,121.010158,'Returned','Auto-checked out via QR scanner\nReturn: Auto-returned via QR scanner');
/*!40000 ALTER TABLE `equipment_checkout` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment_inventory`
--

DROP TABLE IF EXISTS `equipment_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `equipment_inventory` (
  `equipment_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `condition` varchar(191) NOT NULL DEFAULT 'Good',
  `status` varchar(191) NOT NULL DEFAULT 'Available',
  `assigned_to` int(11) DEFAULT NULL,
  `current_location` varchar(191) DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `last_updated` datetime(3) NOT NULL,
  `qr_code` text DEFAULT NULL,
  `qr_number` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`equipment_id`),
  UNIQUE KEY `Equipment_Inventory_qr_number_key` (`qr_number`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment_inventory`
--

LOCK TABLES `equipment_inventory` WRITE;
/*!40000 ALTER TABLE `equipment_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_file`
--

DROP TABLE IF EXISTS `project_file`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project_file` (
  `file_id` int(11) NOT NULL AUTO_INCREMENT,
  `uploader_id` int(11) NOT NULL,
  `file_name` varchar(191) NOT NULL,
  `file_type` varchar(191) NOT NULL,
  `file_size_mb` decimal(10,2) NOT NULL,
  `storage_location` varchar(191) NOT NULL,
  `cloudinary_url` varchar(191) DEFAULT NULL,
  `cloudinary_public_id` varchar(191) DEFAULT NULL,
  `local_ftp_path` varchar(191) DEFAULT NULL,
  `uploaded_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`file_id`),
  KEY `Project_File_uploader_id_fkey` (`uploader_id`),
  CONSTRAINT `Project_File_uploader_id_fkey` FOREIGN KEY (`uploader_id`) REFERENCES `user` (`user_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_file`
--

LOCK TABLES `project_file` WRITE;
/*!40000 ALTER TABLE `project_file` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_file` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_health_log`
--

DROP TABLE IF EXISTS `system_health_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_health_log` (
  `sys_log_id` int(11) NOT NULL AUTO_INCREMENT,
  `event_type` varchar(191) NOT NULL,
  `description` text NOT NULL,
  `ip_address` varchar(191) NOT NULL,
  `timestamp` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`sys_log_id`)
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_health_log`
--

LOCK TABLES `system_health_log` WRITE;
/*!40000 ALTER TABLE `system_health_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_health_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `password_hash` varchar(191) NOT NULL,
  `role` varchar(191) NOT NULL DEFAULT 'EMPLOYEE',
  `contact_number` varchar(191) DEFAULT NULL,
  `mfa_secret` varchar(191) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `can_view_users` tinyint(1) NOT NULL DEFAULT 0,
  `can_add_users` tinyint(1) NOT NULL DEFAULT 0,
  `can_edit_users` tinyint(1) NOT NULL DEFAULT 0,
  `can_delete_users` tinyint(1) NOT NULL DEFAULT 0,
  `can_activate_users` tinyint(1) NOT NULL DEFAULT 0,
  `can_view_own_attendance` tinyint(1) NOT NULL DEFAULT 1,
  `can_view_all_attendance` tinyint(1) NOT NULL DEFAULT 0,
  `can_edit_attendance` tinyint(1) NOT NULL DEFAULT 0,
  `can_delete_attendance` tinyint(1) NOT NULL DEFAULT 0,
  `can_export_attendance` tinyint(1) NOT NULL DEFAULT 0,
  `can_view_equipment` tinyint(1) NOT NULL DEFAULT 1,
  `can_add_equipment` tinyint(1) NOT NULL DEFAULT 0,
  `can_edit_equipment` tinyint(1) NOT NULL DEFAULT 0,
  `can_delete_equipment` tinyint(1) NOT NULL DEFAULT 0,
  `can_assign_equipment` tinyint(1) NOT NULL DEFAULT 0,
  `can_view_files` tinyint(1) NOT NULL DEFAULT 1,
  `can_upload_files` tinyint(1) NOT NULL DEFAULT 0,
  `can_edit_files` tinyint(1) NOT NULL DEFAULT 0,
  `can_delete_files` tinyint(1) NOT NULL DEFAULT 0,
  `can_download_files` tinyint(1) NOT NULL DEFAULT 1,
  `can_view_inquiries` tinyint(1) NOT NULL DEFAULT 0,
  `can_add_inquiries` tinyint(1) NOT NULL DEFAULT 1,
  `can_update_inquiries` tinyint(1) NOT NULL DEFAULT 0,
  `can_delete_inquiries` tinyint(1) NOT NULL DEFAULT 0,
  `can_assign_inquiries` tinyint(1) NOT NULL DEFAULT 0,
  `can_view_health_logs` tinyint(1) NOT NULL DEFAULT 0,
  `can_export_health_logs` tinyint(1) NOT NULL DEFAULT 0,
  `can_manage_permissions` tinyint(1) NOT NULL DEFAULT 0,
  `can_view_audit_trail` tinyint(1) NOT NULL DEFAULT 0,
  `can_backup_database` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `User_email_key` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-14  1:45:37
